{% extends "base.html" %}
{% block title %}{{ _('Новый сотрудник') }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>{{ _('Новый сотрудник') }}</h1>
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ render_phone_field(form.phone_number) }}
        {{ render_field(form.email) }}
        {{ render_password_field(form.password) }}
        {{ render_password_field(form.password2) }}
        {{ render_select_field(form.work_place) }}
        {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
    </form>
{% endblock %}