<div class="dropdown text-end">
    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
    </a>
<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">  
    <li><a class="dropdown-item" href="{{ url_for('user.profile', user_name=current_user.name) }}">Профиль {{current_user.name}}</a></li>
    <li><a class="dropdown-item" href="{{ url_for('report.create') }}">Создание отчёта</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#SupplyModal">Поступление</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ConsumptionModal">Расход</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ByWeightModal">Продажа развеса</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#WriteOffModal">Списание</a></li>
    <li><hr class="dropdown-divider"></li>
    {% if current_user.has_role('admin') or current_user.has_role('moderator') %}
        <li><a class="dropdown-item" href="{{ url_for('create_new_staff') }}">Добавить персонал</a></li>
        <li><a class="dropdown-item" href="{{ url_for('menu.create_coffee_shop') }}">Добавить кофейню</a></li>
        <li><hr class="dropdown-divider"></li>
    {% endif %}
    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выход</a></li>
</ul>
</div>
<!-- Расход -->
<div class="modal fade" id="ConsumptionModal" tabindex="-1" aria-labelledby="ConsumptionModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('menu.expense') }}" method="post">
            {{ expense_form.csrf_token }}
            <div class="modal-header">
                <h5 class="modal-title" id="ConsumptionModal">Расход</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select name="coffee_shop" class="form-select mb-3">
                    {% for cs in coffee_shop_list %}
                        <option>{{ cs.place_name }}</option>
                    {% endfor%}
                </select>
                {{ render_field(expense_form.category) }}
                
                <div class="form-check">
                {% for radio in expense_form.type_cost %}
                   {{ radio.label}} {{ radio }}
                {% endfor %}
                </div>
                {{ render_field(expense_form.money) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                {{ expense_form.submit(class="btn btn-primary") }}
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Продажа развеса -->
<div class="modal fade" id="ByWeightModal" tabindex="-1" aria-labelledby="ByWeightModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('menu.by_weight') }}" method="post">
            {{ by_weight_form.csrf_token }}
            <div class="modal-header">
                <h5 class="modal-title" id="ByWeightModal">Продажа развеса</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select name="coffee_shop" class="form-select mb-3">
                    {% for cs in coffee_shop_list %}
                        <option>{{ cs.place_name }}</option>
                    {% endfor%}
                </select>
                <p>{{ by_weight_form.by_weight_choice.label }}{{ by_weight_form.by_weight_choice(class="form-check") }}</p>
                {{ render_field(by_weight_form.amount) }}
                <p>{{ by_weight_form.cash_type.label }} {{ by_weight_form.cash_type(class="form-check") }}</p>
                {{ render_field(by_weight_form.money) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                {{ by_weight_form.submit(class="btn btn-primary") }}
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Списание -->
<div class="modal fade" id="WriteOffModal" tabindex="-1" aria-labelledby="WriteOffModal" aria-hidden="true">\
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('menu.write_off') }}" method="post">
            {{ write_off_form.csrf_token }}
            <div class="modal-header">
                <h5 class="modal-title" id="WriteOffModal">Списание</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select name="coffee_shop" class="form-select mb-3">
                    {% for cs in coffee_shop_list %}
                        <option>{{ cs.place_name }}</option>
                    {% endfor%}
                </select>
                <p>{{ write_off_form.write_off_choice.label }}{{ write_off_form.write_off_choice(class="form-check") }}</p>
                {{ render_field(supply_form.amount) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                {{ write_off_form.submit(class="btn btn-primary") }}
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Приход -->
<div class="modal fade" id="SupplyModal" tabindex="-1" aria-labelledby="SupplyModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('menu.supply') }}" method="post">
            {{ supply_form.csrf_token }}
            <div class="modal-header">
                <h5 class="modal-title" id="SupplyModal">Поступление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select name="coffee_shop" class="form-select mb-3">
                    {% for cs in coffee_shop_list %}
                        <option>{{ cs.place_name }}</option>
                    {% endfor%}
                </select>
                <p>{{ supply_form.supply_choice.label }}{{ supply_form.supply_choice(class="form-check") }}</p>
                {{ render_field(supply_form.amount) }}
                <p>{{ supply_form.cash_type.label }} {{ supply_form.cash_type(class="form-check") }}</p>
                {{ render_field(supply_form.money) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                {{ supply_form.submit(class="btn btn-primary") }}
            </div>
            </form>
        </div>
    </div>
</div>