<div class="dropdown text-end">
    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
    </a>
<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">  
    <li><a class="dropdown-item" href="{{ url_for('user.profile', user_name=current_user.name) }}">Профиль {{current_user.name}}</a></li>
    <li><a class="dropdown-item" href="{{ url_for('report.create') }}">Создание отчёта</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#SupplyModal">Поступление</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ConsumptionModal">Расход</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ByWeightModal">Продажа развеса</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#WriteOffModal">Списание</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#TransferModal">Перемещение</a></li>
    <li><hr class="dropdown-divider"></li>
    {% if current_user.has_role('admin') or current_user.has_role('moderator') %}
        <li><a class="dropdown-item" href="{{ url_for('create_new_staff') }}">Добавить персонал</a></li>
        <li><a class="dropdown-item" href="{{ url_for('menu.create_coffee_shop') }}">Добавить кофейню</a></li>
        <li><hr class="dropdown-divider"></li>
    {% endif %}
    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выход</a></li>
</ul>
</div>
{% include 'menu/_supply_modal.html' %}
{% include 'menu/_consumption_modal.html' %}
{% include 'menu/_by_weight_modal.html' %}
{% include 'menu/_write_off_modal.html' %}
{% include 'menu/_transfer_modal.html' %}