<div class="modal fade" id="WriteOffModal" tabindex="-1" aria-labelledby="WriteOffModal" aria-hidden="true">\
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('menu.write_off') }}" method="post">
            {{ write_off_form.csrf_token }}
            <div class="modal-header">
                <h5 class="modal-title" id="WriteOffModal">Списание</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select name="coffee_shop" class="form-select mb-3">
                    {% for cs in coffee_shop_list %}
                        <option>{{ cs.place_name }}</option>
                    {% endfor%}
                </select>
                <p>{{ write_off_form.write_off_choice.label }}{{ write_off_form.write_off_choice(class="form-check") }}</p>
                {{ render_field(supply_form.amount) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                {{ write_off_form.submit(class="btn btn-primary") }}
            </div>
            </form>
        </div>
    </div>
</div>