{% extends "base.html" %}
{% block title %}{{_('Профиль')}} {{user.name}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h4>{{_('Имя')}}: {{ user.name }}</h4>
        <h4>{{_('Тел.')}}: {{ user.phone_number }}</h4>
        <h4>{{_('Емейл')}}: {{ user.email }}</h4>
        <h4>{{_('Место работы')}}:</h4>
        <ul>
            {% for s in user.shop %}
                <li>{{s.place_name}} / {{ s.address}}</li>
            {% endfor %}
        </ul>
        <h4>{{_('Роли')}}:</h4>
        <ul>
            {% for role in user.roles %}
                <li>{{role.name}}</li>
            {% endfor %}
        </ul>
        {% if current_user == user %}
            <a href="{{ url_for('user.edit') }} ">{{_('Редактировать профиль')}}</a>
        {% endif %}
    </div>
</div>
{% endblock %}