{% extends "base.html" %}
{% block title %}{{_('Профиль')}} {{user.name}}{% endblock %}
{% block style %}
.form-floating:focus-within {
  z-index: 2;
}
.bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
{% endblock %}
{% block content %}
<h1>{{_('Изменение пароля')}}</h1>
<form method="post">
    {{ form.csrf_token }}
    {{ render_password_field(form.password) }}
    {{ render_password_field(form.password2) }}
    <p>{{ form.submit(class="w-100 btn btn-lg btn-primary") }}</p>
</form>
{% endblock %}
