<div class="col-sm-15">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{coffee_shop.place_name}} / {{coffee_shop.address}}</h3>
            {% if current_user.has_role('admin') or current_user.has_role('moderator') %}
            <h5 class="card-subtitle mb-2 text-muted">{{ _('Наличка') }}: {{coffee_shop.cash}} грн.</h5>
            <h5 class="card-subtitle mb-2 text-muted">{{ _('Безнал') }}: {{coffee_shop.cashless}} грн.</h5>
            {% endif %}
            <p class="card-subtitle mb-2 text-muted">{{_('Последняя чистка КМ: ')}} {{ moment(coffee_shop.shop_equipment.last_cleaning_coffee_machine).fromNow() }}</p>
            <p class="card-subtitle mb-2 text-muted">{{_('Последняя чистка кофемолок: ')}} {{ moment(coffee_shop.shop_equipment.last_cleaning_grinder).fromNow() }}</p>
            <p class="card-text">{{ _('Сотрудники') }}:</p>
            <ul>
                {% for barista in coffee_shop.baristas %}
                    <li><a href="{{ url_for('user.profile', user_name=barista.name) }}" class="link-secondary">{{ barista.name }}</a></li>
                {% else %}
                    <p class="card-text">Отсутствуют </p>
                    {% if current_user.has_role('admin') or current_user.has_role('moderator') %}
                        <a class="btn btn-primary" href="{{ url_for('create_new_staff') }}" role="button">Создать?</a>
                    {% endif%}
                {% endfor %}
            </ul>
            <div class="accordion accordion-flush" id="accordion_{{coffee_shop.id}}">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEquipment_{{coffee_shop.id}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEquipment_{{coffee_shop.id}}" aria-expanded="false" aria-controls="collapseEquipment_{{coffee_shop.id}}">
                            {{ _('Оборудование') }}
                        </button>
                    </h2>
                    <div id="collapseEquipment_{{coffee_shop.id}}" class="accordion-collapse collapse" aria-labelledby="headingEquipment_{{coffee_shop.id}}" data-bs-parent="#accordion_{{coffee_shop.id}}">
                        <div class="accordion-body">
                            <p class="card-text">{{ _('Кофе Машина') }}: {{ coffee_shop.shop_equipment.coffee_machine }}</p>
                            <p class="card-text">{{ _('Кофемолка') }} 1: {{ coffee_shop.shop_equipment.grinder_1 }}</p>
                            <p class="card-text">{{ _('Кофемолка') }} 2: {{ coffee_shop.shop_equipment.grinder_2 }}</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingStorage_{{coffee_shop.id}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStorage_{{coffee_shop.id}}" aria-expanded="false" aria-controls="collapseStorage_{{coffee_shop.id}}">
                            {{ _('Склад') }}
                        </button>
                    </h2>
                    <div id="collapseStorage_{{coffee_shop.id}}" class="accordion-collapse collapse" aria-labelledby="headingStorage_{{coffee_shop.id}}" data-bs-parent="#accordion_{{coffee_shop.id}}">
                        <div class="accordion-body">
                            <p class="card-text">{{ _('Арабика') }}: {{ coffee_shop.storage.coffee_arabika }} кг</p>
                            <p class="card-text">{{ _('Купаж') }}: {{coffee_shop.storage.coffee_blend}} кг</p>
                            <p class="card-text">{{ _('Молоко') }}: {{ coffee_shop.storage.milk }} л</p>
                            <p class="card-text">{{ _('Панини') }}: {{ coffee_shop.storage.panini }} шт.</p>
                            <p class="card-text">{{ _('Колбаски') }}: {{ coffee_shop.storage.sausages }} шт.</p>
                            <p class="card-text">{{ _('Булочки') }}: {{ coffee_shop.storage.buns }} шт.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTransactions_{{coffee_shop.id}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransactions_{{coffee_shop.id}}" aria-expanded="true" aria-controls="collapseTransactions_{{coffee_shop.id}}">
                            {{ _('Текущие транзакции') }}
                        </button>
                    </h2>
                    <div id="collapseTransactions_{{coffee_shop.id}}" class="accordion-collapse collapse" aria-labelledby="headingTransactions_{{coffee_shop.id}}" data-bs-parent="#accordion_{{coffee_shop.id}}">
                        <div class="accordion-body">
                            {% if is_report_send(coffee_shop.id) %}
                            <p class="card-text">{{ _('Отчет за день отправлен') }}</p>
                            {% else %}
                            {% include '_transaction_view.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <a href="{{ url_for('reports.on_address', shop_address=coffee_shop.address)}}" class="card-link">{{ _('Отчеты') }}</a>
        </div>
    </div>
    <br/>
</div>
