 <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
      <a href="{{ url_for('home') }}" class="navbar-brand">Not Detail Poster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% include 'menu/_user_menu.html' %}
</div>
</nav>
{% include 'menu/_supply_modal.html' %}
{% include 'menu/_expense_modal.html' %}
{% include 'menu/_by_weight_modal.html' %}
{% include 'menu/_write_off_modal.html' %}