 <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <span class="navbar-brand mb-0 h1"><a href="{{ url_for('home') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">Not Detail Poster</a></span>
    <li><a href="{{ url_for('reports') }}" class="nav-link px-2 link-dark">Отчеты</a></li>
    <li><a href="{{ url_for('statistics') }}" class="nav-link px-2 link-dark">Статистика</a></li>
    <li><a href="{{ url_for('admin.index') }}" class="nav-link px-2 link-dark">Админка</a></li>
</ul>