<div class="dropdown text-end">
    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
    </a>
<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">  
    <li><a class="dropdown-item" href="{{ url_for('user_profile', user_name=current_user.name) }}">Профиль {{current_user.name}}</a></li>
    <li><a class="dropdown-item" href="{{ url_for('create_report') }}">Создание отчёта</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#SupplyModal">Поступление</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ConsumptionModal">Расход</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ByWeightModal">Продажа развеса</a></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#WriteOffModal">Списание</a></li>
    <li><hr class="dropdown-divider"></li>
    
    <li><a class="dropdown-item" href="{{ url_for('create_new_staff') }}">Новый персонал</a></li>
    <li><hr class="dropdown-divider"></li>
    
    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выход</a></li>
</ul>
</div>
<!-- Расход -->
<div class="modal fade" id="ConsumptionModal" tabindex="-1" aria-labelledby="ConsumptionModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('new_expance') }}" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="ConsumptionModal">Расход</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    {{ expance_form.category(class="form-control", id="floatingInput", placeholder=' ') }}
                    {{ expance_form.category.label(for="floatingInput")}}
                    {{ with_errors(expance_form.category) }}
                </div>
                <div class="form-floating mb-3">
                    {{ expance_form.type_cost(class="form-control", id="floatingInput", placeholder=' ') }}
                    {{ expance_form.type_cost.label(for="floatingInput")}}
                    {{ with_errors(expance_form.type_cost) }}
                </div>
                <div class="form-floating mb-3">
                    {{ expance_form.money(class="form-control", id="floatingInput", placeholder=' ') }}
                    {{ expance_form.money.label(for="floatingInput")}}
                    {{ with_errors(expance_form.money) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                {{ expance_form.submit(class="btn btn-primary") }}
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Продажа развеса -->
<div class="modal fade" id="ByWeightModal" tabindex="-1" aria-labelledby="ByWeightModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ByWeightModal">Продажа развеса</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
    </div>
</div>
<!-- Списание -->
<div class="modal fade" id="WriteOffModal" tabindex="-1" aria-labelledby="WriteOffModal" aria-hidden="true">\
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WriteOffModal">Списание</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
    </div>
</div>
<!-- Приход -->
<div class="modal fade" id="SupplyModal" tabindex="-1" aria-labelledby="SupplyModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SupplyModal">Поступление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
    </div>
</div>