{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti deserunt doloremque esse inventore itaque laudantium provident sapiente. Consequatur cupiditate hic id, iure quos repellat tempore! Autem corporis doloremque iure.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti deserunt doloremque esse inventore itaque laudantium provident sapiente. Consequatur cupiditate hic id, iure quos repellat tempore! Autem corporis doloremque iure.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti deserunt doloremque esse inventore itaque laudantium provident sapiente. Consequatur cupiditate hic id, iure quos repellat tempore! Autem corporis doloremque iure.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti deserunt doloremque esse inventore itaque laudantium provident sapiente. Consequatur cupiditate hic id, iure quos repellat tempore! Autem corporis doloremque iure.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti deserunt doloremque esse inventore itaque laudantium provident sapiente. Consequatur cupiditate hic id, iure quos repellat tempore! Autem corporis doloremque iure.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti deserunt doloremque esse inventore itaque laudantium provident sapiente. Consequatur cupiditate hic id, iure quos repellat tempore! Autem corporis doloremque iure.

{% endblock %}