{% macro with_errors(field) %}
    {% for error in field.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
{% endmacro %}

{% macro render_field(field) %}
 <div class="form-floating mb-3">
    {{ field(class="form-control", id="floatingInput", placeholder=' ') }}
    {{ field.label(for="floatingInput")}}
    {{ with_errors(field) }}
</div>
{% endmacro %}

{% macro render_checkbox(field) %}
 <div class="checkbox mb-3">
     {{ field.label(class="form-check-input")}}
     {{ field(class="form-check-input") }}
</div>
{% endmacro %}

{% macro render_select_field(field) %}
<div class="mb-3">
    {{ field.label }}
    {{ field(class="form-select mb-3") }}
</div>
{% endmacro %}

{% macro render_phone_field(field) %}
 <div class="form-floating mb-3">
    {{ field(class="form-control phone_mask", id="floatingInput", placeholder=' ') }}
    {{ field.label(class="floatingInput")}}
    {{ with_errors(field) }}
</div>
{% endmacro %}

{% macro render_password_field(field) %}
<div class="form-floating mb-3">
    {{ field(type="password", class="form-control", id="floatingPassword", placeholder=' ') }}
    {{ field.label(for="floatingPassword")}}
    {{ with_errors(field) }}
</div>
{% endmacro %}

{% macro render_check_field(field) %}
<div class="form-check">
    {{ field(class="form-check-input", placeholder=' ', type="checkbox", id="flexCheckDefault") }}
    {{ field.label(class="form-check-label", for="flexCheckDefault") }}
    {{ with_errors(field) }}
</div>
{% endmacro %}

{% macro pagination(prev_url, next_url) %}
<ul class="pagination">
    {% if prev_url %}
        <li class="page-item">
          <a class="page-link" href="{{ prev_url }}">
            <span aria-hidden="true">{{ _('Новые отчеты') }}</span>
          </a>
        </li>
    {% endif %}
    {% if next_url %}
    <li class="page-item">
      <a class="page-link" href="{{ next_url }}">
        <span aria-hidden="true">{{ _('Старые отчеты') }}</span>
      </a>
    </li>
    {% endif %}
</ul>
{% endmacro %}

{% macro render_expansion(expansion, report) %}
    <ul class="list-group">
        {% for expanse in expansion %}
        {% if expanse.timestamp.date() == report.timestamp.date() %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    {{expanse.money}} грн.
                </div>
                {% for c in expanse.categories %}
                <span class="badge bg-secondary">{{ c.name }}</span>
                {% endfor %}
            </div>
            <span class="badge bg-primary rounded-pill"> {{ expanse.type_cost|translate }}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_deposit_fund(deposit, report) %}
    <ul class="list-group">
        {% for d in deposit %}
            {% if d.timestamp.date() == report.timestamp.date() %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        + {{d.money}} грн.
                    </div>
                    <span class="badge bg-secondary">{{ d.barista.name }}</span>
                </div>
                <span class="badge bg-primary rounded-pill"> {{ d.type_cost|translate }}</span>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_collection_fund(collection, report) %}
    <ul class="list-group">
        {% for c in collection %}
            {% if c.timestamp.date() == report.timestamp.date() %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        - {{c.money}} грн.
                    </div>
                    <span class="badge bg-secondary">{{ c.barista.name }}</span>
                </div>
                <span class="badge bg-primary rounded-pill"> {{ c.type_cost|translate }}</span>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_supply(supply, report) %}
   <ul class="list-group">
        {% for s in supply %}
        {% if s.timestamp.date() == report.timestamp.date() %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    - {{s.money}} грн.
                </div>
                <span class="badge bg-secondary">{{ s.product_name|translate }}</span>
                <span class="badge bg-secondary">+ {{ s.amount }}</span>
            </div>
            <span class="badge bg-primary rounded-pill"> {{ s.type_cost|translate }}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_transfer(transfer, shop_id, report) %}
    <ul class="list-group">
        {% for t in transfer.query.all() %}
        {% if t.timestamp.date() == report.timestamp.date() %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    {% if t.where_shop|int == shop_id %}
                    {{ _('Перемещено на')}} {{ t.get_shop(t.to_shop).first_or_404() }}
                    {% else %}
                    {{ _('Получено с')}} {{ t.get_shop(t.where_shop).first_or_404() }}
                    {% endif %}
                </div>
                <span class="badge bg-secondary">{{ t.product_name|translate }}</span>
                <span class="badge bg-secondary">{{ t.amount }}</span>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_expansion_by_day(expansion) %}
    <ul class="list-group">
        {% for expanse in expansion %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    - {{expanse.money}} грн.
                </div>
                {% for c in expanse.categories %}
                <span class="badge bg-secondary">{{ c.name }}</span>
                {% endfor %}
            </div>
            <span class="badge bg-primary rounded-pill"> {{ expanse.type_cost|translate }}</span>
        </li>
        {% else %}
        <p>{{ _('Отсутствуют') }}</p>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_deposit_fund_by_day(deposit) %}
    <ul class="list-group">
        {% for d in deposit %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    + {{ d.money }} грн.
                </div>
                <span class="badge bg-secondary">{{ d.barista.name }}</span>
            </div>
            <span class="badge bg-primary rounded-pill"> {{ d.type_cost|translate }}</span>
        </li>
        {% else %}
        <p>{{ _('Отсутствуют') }}</p>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_collection_fund_by_day(collection) %}
    <ul class="list-group">
        {% for c in collection %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    - {{ c.money }} грн.
                </div>
                <span class="badge bg-secondary">{{ c.barista.name }}</span>
            </div>
            <span class="badge bg-primary rounded-pill"> {{ c.type_cost|translate }}</span>
        </li>
        {% else %}
        <p>{{ _('Отсутствуют') }}</p>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_supply_by_day(supply) %}
    <ul class="list-group">
        {% for s in supply %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    - {{s.money}} грн.
                </div>
                <span class="badge bg-secondary">{{ s.product_name|translate }}</span>
                <span class="badge bg-secondary">+ {{ s.amount }}</span>
            </div>
            <span class="badge bg-primary rounded-pill"> {{ s.type_cost|translate }}</span>
        </li>
        {% else %}
        <p>{{ _('Отсутствуют') }}</p>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_write_off_on_day(write_off) %}
    <ul class="list-group">
        {% for s in write_off %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <span class="badge bg-secondary">{{ s.product_name|translate }}</span>
                <span class="badge bg-secondary">{{ s.amount }}</span>
            </div>
        </li>
        {% else %}
        <p>{{ _('Отсутствуют') }}</p>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_transfer_on_day(transfer, shop_id) %}
    <ul class="list-group">
        {% for t in transfer.query.all() %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    {% if t.where_shop|int == shop_id %}
                    {{ _('Перемещено на')}} {{ t.get_shop(t.to_shop).first_or_404() }}
                    {% else %}
                    {{ _('Получено с')}} {{ t.get_shop(t.where_shop).first_or_404() }}
                    {% endif %}
                </div>
                <span class="badge bg-secondary">{{ t.product_name|translate }}</span>
                <span class="badge bg-secondary">{{ t.amount }}</span>
            </div>
        </li>
        {% else %}
        <p>{{ _('Отсутствуют') }}</p>
        {% endfor %}
    </ul>
{% endmacro %}