{% extends "base.html" %}
{% block title %}Новый сотрудник{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Register</h1>
    <form action="" method="post">
    {{ form.csrf_token }}
    {{ render_field(form.name) }}
    {{ render_field(form.phone_number) }}
    {{ render_field(form.email) }}
    <div class="form-floating mb-3">
        {{ form.password(type="password", class="form-control", id="floatingPassword", placeholder=' ') }}
        {{ form.password.label(for="floatingPassword")}}
        {{ with_errors(form.password) }}
    </div>
    <div class="form-floating mb-3">
        {{ form.password2(type="password", class="form-control", id="floatingPassword", placeholder=' ') }}
        {{ form.password2.label(for="floatingPassword")}}
        {{ with_errors(form.password2) }}
    </div>
    <p>{{ form.submit(class="w-100 btn btn-lg btn-primary") }}</p>
    </form>
{% endblock %}