{% extends "base.html" %}
{% block title %}Новый сотрудник{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Register</h1>
    <form action="" method="post">
    {{ form.csrf_token }}
    <div class="form-floating mb-3">
    {{ form.name(class="form-control", id="floatingInput", placeholder=' ') }}
    {{ form.name.label(for="floatingInput")}}
    {{ with_errors(form.name) }}
    </div>
    <div class="form-floating mb-3">
    {{ form.phone_number(class="form-control", id="floatingInput", placeholder=' ') }}
    {{ form.phone_number.label(for="floatingInput")}}
    {{ with_errors(form.phone_number) }}
    </div>
    <div class="form-floating mb-3">
    {{ form.email(type="email", class="form-control", id="floatingInput", placeholder=' ') }}
    {{ form.email.label(for="floatingInput")}}
    {{ with_errors(form.email) }}
    </div>
    <div class="form-floating mb-3">
    {{ form.password(type="password", class="form-control", id="floatingPassword", placeholder=' ') }}
    {{ form.password.label(for="floatingPassword")}}
    {{ with_errors(form.password) }}
    </div>
    <div class="form-floating mb-3">
    {{ form.password2(type="password", class="form-control", id="floatingPassword", placeholder=' ') }}
    {{ form.password2.label(for="floatingPassword")}}
    {{ with_errors(form.password2) }}
    </div>
    <p>{{ form.submit(class="w-100 btn btn-lg btn-primary") }}</p>
    </form>
{% endblock %}